.wrapper {
  position: relative;
}

.title {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
  }
}
